include includes/head
include includes/header
include includes/breadcrumbs
include includes/single-lawyer
include includes/form
include includes/footer
include includes/scripts
include includes/mixins
doctype html
html(lang="en")
head
    +head('Одиночный юрист')
body.inner
    include blocks/svg.html
    +header()
    .content
        +breadcrumbs()

        +single-lawyer()

        +form()
    +footer()
    +scripts()