mixin diplom-slider()
   .row
      .col-md-12
         .diploma
            p.title-block  Дипломы и сертификаты
            .diploms.js-diploms
               .item-diplom
                  img(src="../img/diplom.jpg")
               .item-diplom
                  img(src="../img/diplom.jpg")
               .item-diplom
                  img(src="../img/diplom.jpg")
               .item-diplom
                  img(src="../img/diplom.jpg")
               .item-diplom
                  img(src="../img/diplom.jpg")