mixin form()
   .call-form
      .container
         .row
            form
               .col-md-12
                  .row
                     .col-md-5
                        input(type="text" placeholder="Ваше имя").name
                     .col-md-5
                        input(type="text" placeholder="Телефон").phone
                     .col-md-2
                        input(type="submit" value="Заказать звонок")