mixin index-text()
   .index-text
      .container
         .row
            .col-md-12
               p.title  СЕО. Тамбовская городская коллегия адвокатов
               .index-text__description
                  p предлагает своим клиентам полный спектр юридических услуг.
                     |  Мы всегда готовы прийти на помощь каждому, кто стремится добиться справедливости и защитить свои права с помощью адвоката. Для оказания оперативной юридической помощи, работает телефон горячей линии. Оказываем юридическую помощь на высоком профессиональном уровне за разумные деньги.