mixin lawyers()
   .lawyers
      .container
         .row
            .col-md-12
               p.title  Наши адвокаты
         .row
            .lawyers__list
               .col-md-3.js-lawyew_item.item
                  img(src="../img/lawyer-1.jpg")
                  p.name   мария Иванова
                  p.experience   Стаж работы с 2011 года
                  ul
                     li Специализация: консультация по всем правовым вопросам
                     li Составление документов различного правового характера и любой сложности (заявления , жалобы, договора и т.д.)
                     li Представление интересов по гражданским делам
                     li Представление интересов по арбитражным делам
                  p.phone  Телефон: +7 (4752) 12-34-56
               .col-md-3.js-lawyew_item.item
                  img(src="../img/lawyer-2.jpg")
                  p.name   мария Иванова
                  p.experience   Стаж работы с 2011 года
                  ul
                     li Специализация: консультация по всем правовым вопросам
                     li Составление документов различного правового характера и любой сложности (заявления , жалобы, договора и т.д.)
                  p.phone  Телефон: +7 (4752) 12-34-56
               .col-md-3.js-lawyew_item.item
                  img(src="../img/lawyer-3.jpg")
                  p.name   мария Иванова
                  p.experience   Стаж работы с 2011 года
                  ul
                     li Специализация: консультация по всем правовым вопросам
                     li Составление документов различного правового характера и любой сложности (заявления , жалобы, договора и т.д.)
                     li Представление интересов по гражданским делам
                     li Представление интересов по арбитражным делам
                  p.phone  Телефон: +7 (4752) 12-34-56
               .col-md-3.js-lawyew_item.item
                  img(src="../img/lawyer-4.jpg")
                  p.name   мария Иванова
                  p.experience   Стаж работы с 2011 года
                  ul
                     li Специализация: консультация по всем правовым вопросам
                     li Составление документов различного правового характера и любой сложности (заявления , жалобы, договора и т.д.)
                     li Представление интересов по гражданским делам
                     li Представление интересов по арбитражным делам
                  p.phone  Телефон: +7 (4752) 12-34-56
               .col-md-3.js-lawyew_item.item
                  img(src="../img/lawyer-1.jpg")
                  p.name   мария Иванова
                  p.experience   Стаж работы с 2011 года
                  ul
                     li Специализация: консультация по всем правовым вопросам
                     li Составление документов различного правового характера и любой сложности (заявления , жалобы, договора и т.д.)
                     li Представление интересов по гражданским делам
                     li Представление интересов по арбитражным делам
                  p.phone  Телефон: +7 (4752) 12-34-56
               .col-md-3.js-lawyew_item.item
                  img(src="../img/lawyer-2.jpg")
                  p.name   мария Иванова
                  p.experience   Стаж работы с 2011 года
                  ul
                     li Специализация: консультация по всем правовым вопросам
                     li Составление документов различного правового характера и любой сложности (заявления , жалобы, договора и т.д.)
                  p.phone  Телефон: +7 (4752) 12-34-56
               .col-md-3.js-lawyew_item.item
                  img(src="../img/lawyer-3.jpg")
                  p.name   мария Иванова
                  p.experience   Стаж работы с 2011 года
                  ul
                     li Специализация: консультация по всем правовым вопросам
                     li Составление документов различного правового характера и любой сложности (заявления , жалобы, договора и т.д.)
                     li Представление интересов по гражданским делам
                     li Представление интересов по арбитражным делам
                  p.phone  Телефон: +7 (4752) 12-34-56
               .col-md-3.js-lawyew_item.item
                  img(src="../img/lawyer-4.jpg")
                  p.name   мария Иванова
                  p.experience   Стаж работы с 2011 года
                  ul
                     li Специализация: консультация по всем правовым вопросам
                     li Составление документов различного правового характера и любой сложности (заявления , жалобы, договора и т.д.)
                     li Представление интересов по гражданским делам
                     li Представление интересов по арбитражным делам
                  p.phone  Телефон: +7 (4752) 12-34-56
