mixin question-text()
   .question-text
      .container
         .row
            .col-md-12
               h1 Вопрос-ответ
         .question-text__list
            .row
               .col-md-12
                  .question-text__item
                     .row
                        .col-md-1.col-sm-1
                           .item__number
                              span  1.
                        .col-md-11.col-sm-11.item__quest
                           p.title  СКОЛЬКО СТОЯТ УСЛУГА АДВОКАТА ПО УДО СТ158.2
                           p.answer Тамбовская областная коллегия адвокатов "Линия защиты" осуществляет весь спектр юридических услуг на высоком уровне! Грамотное и профессиональное оказание квалифицированной юридической помощи является необходимостью для оперативного и законного решения проблемы.
                  .question-text__item
                     .row
                        .col-md-1.col-sm-1
                           .item__number
                              span  2.
                        .col-md-11.col-sm-11.item__quest
                           p.title  СКОЛЬКО СТОЯТ УСЛУГА АДВОКАТА ПО УДО СТ158.2
                           p.answer Тамбовская областная коллегия адвокатов "Линия защиты" осуществляет весь спектр юридических услуг на высоком уровне! Грамотное и профессиональное оказание квалифицированной юридической помощи является необходимостью для оперативного и законного решения проблемы.
                  .question-text__item
                     .row
                        .col-md-1.col-sm-1
                           .item__number
                              span  3.
                        .col-md-11.col-sm-11.item__quest
                           p.title  СКОЛЬКО СТОЯТ УСЛУГА АДВОКАТА ПО УДО СТ158.2
                           p.answer Тамбовская областная коллегия адвокатов "Линия защиты" осуществляет весь спектр юридических услуг на высоком уровне! Грамотное и профессиональное оказание квалифицированной юридической помощи является необходимостью для оперативного и законного решения проблемы.
            .row
               .col-md-12
                  ul.pagi
                     li: a(href="javascript:void(0)")  Первая
                     li.active: a(href="javascript:void(0)")  1
                     li: a(href="javascript:void(0)")  2
                     li: a(href="javascript:void(0)")  3
                     li: a(href="javascript:void(0)")  Последняя