include utp
include diplom-slider

mixin services-list(page)
   - if (page == 'one')
      .services-list
         .container
            .row
               .col-md-12
                  h1 Услуги
            .services-list__desc
               .row
                  .col-md-12
                     p Тамбовская областная коллегия адвокатов "Линия защиты" осуществляет весь спектр юридических услуг на высоком уровне!
                        |  Грамотное и профессиональное оказание квалифицированной юридической помощи является необходимостью для оперативного и законного решения проблемы.
                     ul.list-this_services
                        li: a(href="javascript:void(0)") Защита по уголовным делам
                        li: a(href="javascript:void(0)") Представление интересов по гражданским делам
                        li: a(href="javascript:void(0)") Представление интересов по административным делам
                        li: a(href="javascript:void(0)") Представление интересов по арбитражным делам
                        li: a(href="javascript:void(0)") Консультации
                        li: a(href="javascript:void(0)") Составление жалоб, сбор документов
         +form()
         .container
            .this-specialists
               .row
                  .col-md-12
                     p.title  Наши специалисты по данной услуге
               .row
                  .col-md-3.col-sm-6.js-lawyew_item.item
                     a(href="javascript:void(0)")
                        img(src="../img/lawyer-1.jpg")
                     p.name   мария Иванова
                     p.experience   Стаж работы с 2011 года
                     ul
                        li Специализация: консультация по всем правовым вопросам
                        li Составление документов различного правового характера и любой сложности (заявления , жалобы, договора и т.д.)
                        li Представление интересов по гражданским делам
                        li Представление интересов по арбитражным делам
                     p.phone  Телефон: +7 (4752) 12-34-56
                  .col-md-3.col-sm-6.js-lawyew_item.item
                     a(href="javascript:void(0)")
                        img(src="../img/lawyer-2.jpg")
                     p.name   мария Иванова
                     p.experience   Стаж работы с 2011 года
                     ul
                        li Специализация: консультация по всем правовым вопросам
                        li Составление документов различного правового характера и любой сложности (заявления , жалобы, договора и т.д.)
                     p.phone  Телефон: +7 (4752) 12-34-56
                  .col-md-3.col-sm-6.js-lawyew_item.item
                     a(href="javascript:void(0)")
                        img(src="../img/lawyer-3.jpg")
                     p.name   мария Иванова
                     p.experience   Стаж работы с 2011 года
                     ul
                        li Специализация: консультация по всем правовым вопросам
                        li Составление документов различного правового характера и любой сложности (заявления , жалобы, договора и т.д.)
                        li Представление интересов по гражданским делам
                        li Представление интересов по арбитражным делам
                     p.phone  Телефон: +7 (4752) 12-34-56
                  .col-md-3.col-sm-6.js-lawyew_item.item
                     a(href="javascript:void(0)")
                        img(src="../img/lawyer-4.jpg")
                     p.name   мария Иванова
                     p.experience   Стаж работы с 2011 года
                     ul
                        li Специализация: консультация по всем правовым вопросам
                        li Составление документов различного правового характера и любой сложности (заявления , жалобы, договора и т.д.)
                        li Представление интересов по гражданским делам
                        li Представление интересов по арбитражным делам
                     p.phone  Телефон: +7 (4752) 12-34-56
                  .col-md-3.col-sm-6.js-lawyew_item.item
                     a(href="javascript:void(0)")
                        img(src="../img/lawyer-1.jpg")
                     p.name   мария Иванова
                     p.experience   Стаж работы с 2011 года
                     ul
                        li Специализация: консультация по всем правовым вопросам
                        li Составление документов различного правового характера и любой сложности (заявления , жалобы, договора и т.д.)
                        li Представление интересов по гражданским делам
                        li Представление интересов по арбитражным делам
                     p.phone  Телефон: +7 (4752) 12-34-56
                  .col-md-3.col-sm-6.js-lawyew_item.item
                     a(href="javascript:void(0)")
                        img(src="../img/lawyer-2.jpg")
                     p.name   мария Иванова
                     p.experience   Стаж работы с 2011 года
                     ul
                        li Специализация: консультация по всем правовым вопросам
                        li Составление документов различного правового характера и любой сложности (заявления , жалобы, договора и т.д.)
                     p.phone  Телефон: +7 (4752) 12-34-56
                  .col-md-3.col-sm-6.js-lawyew_item.item
                     a(href="javascript:void(0)")
                        img(src="../img/lawyer-3.jpg")
                     p.name   мария Иванова
                     p.experience   Стаж работы с 2011 года
                     ul
                        li Специализация: консультация по всем правовым вопросам
                        li Составление документов различного правового характера и любой сложности (заявления , жалобы, договора и т.д.)
                        li Представление интересов по гражданским делам
                        li Представление интересов по арбитражным делам
                     p.phone  Телефон: +7 (4752) 12-34-56
                  .col-md-3.col-sm-6.js-lawyew_item.item
                     a(href="javascript:void(0)")
                        img(src="../img/lawyer-4.jpg")
                     p.name   мария Иванова
                     p.experience   Стаж работы с 2011 года
                     ul
                        li Специализация: консультация по всем правовым вопросам
                        li Составление документов различного правового характера и любой сложности (заявления , жалобы, договора и т.д.)
                        li Представление интересов по гражданским делам
                        li Представление интересов по арбитражным делам
                     p.phone  Телефон: +7 (4752) 12-34-56

            +diplom-slider()
   - else
      .services-list
         .container
            .row
               .col-md-12
                  h1 Услуги
            .services-list__desc
               .row
                  .col-md-12
                     p Тамбовская областная коллегия адвокатов "Линия защиты" осуществляет весь спектр юридических услуг на высоком уровне!
                        |  Грамотное и профессиональное оказание квалифицированной юридической помощи является необходимостью для оперативного и законного решения проблемы.
                     ul.list-services
                        li: a(href="javascript:void(0)") Защита по уголовным делам
                        li: a(href="javascript:void(0)") Представление интересов по гражданским делам
                        li: a(href="javascript:void(0)") Представление интересов по административным делам
                        li: a(href="javascript:void(0)") Представление интересов по арбитражным делам
                        li: a(href="javascript:void(0)") Консультации
                        li: a(href="javascript:void(0)") Составление жалоб, сбор документов
                     p Тамбовская областная коллегия адвокатов "Линия защиты" осуществляет весь спектр юридических услуг на высоком уровне!
                        |  Грамотное и профессиональное оказание квалифицированной юридической помощи является необходимостью для оперативного и законного решения проблемы.
         +utp('top')
         +form()
         .container
            .this-specialists
               .row
                  .col-md-12
                     p.title  Наши специалисты по данной услуге
               .row
                  .col-md-3.col-sm-6.js-lawyew_item.item
                     a(href="javascript:void(0)")
                        img(src="../img/lawyer-1.jpg")
                     p.name   мария Иванова
                     p.experience   Стаж работы с 2011 года
                     ul
                        li Специализация: консультация по всем правовым вопросам
                        li Составление документов различного правового характера и любой сложности (заявления , жалобы, договора и т.д.)
                        li Представление интересов по гражданским делам
                        li Представление интересов по арбитражным делам
                     p.phone  Телефон: +7 (4752) 12-34-56
                  .col-md-3.col-sm-6.js-lawyew_item.item
                     a(href="javascript:void(0)")
                        img(src="../img/lawyer-2.jpg")
                     p.name   мария Иванова
                     p.experience   Стаж работы с 2011 года
                     ul
                        li Специализация: консультация по всем правовым вопросам
                        li Составление документов различного правового характера и любой сложности (заявления , жалобы, договора и т.д.)
                     p.phone  Телефон: +7 (4752) 12-34-56
                  .col-md-3.col-sm-6.js-lawyew_item.item
                     a(href="javascript:void(0)")
                        img(src="../img/lawyer-3.jpg")
                     p.name   мария Иванова
                     p.experience   Стаж работы с 2011 года
                     ul
                        li Специализация: консультация по всем правовым вопросам
                        li Составление документов различного правового характера и любой сложности (заявления , жалобы, договора и т.д.)
                        li Представление интересов по гражданским делам
                        li Представление интересов по арбитражным делам
                     p.phone  Телефон: +7 (4752) 12-34-56
                  .col-md-3.col-sm-6.js-lawyew_item.item
                     a(href="javascript:void(0)")
                        img(src="../img/lawyer-4.jpg")
                     p.name   мария Иванова
                     p.experience   Стаж работы с 2011 года
                     ul
                        li Специализация: консультация по всем правовым вопросам
                        li Составление документов различного правового характера и любой сложности (заявления , жалобы, договора и т.д.)
                        li Представление интересов по гражданским делам
                        li Представление интересов по арбитражным делам
                     p.phone  Телефон: +7 (4752) 12-34-56
                  .col-md-3.col-sm-6.js-lawyew_item.item
                     a(href="javascript:void(0)")
                        img(src="../img/lawyer-1.jpg")
                     p.name   мария Иванова
                     p.experience   Стаж работы с 2011 года
                     ul
                        li Специализация: консультация по всем правовым вопросам
                        li Составление документов различного правового характера и любой сложности (заявления , жалобы, договора и т.д.)
                        li Представление интересов по гражданским делам
                        li Представление интересов по арбитражным делам
                     p.phone  Телефон: +7 (4752) 12-34-56
                  .col-md-3.col-sm-6.js-lawyew_item.item
                     a(href="javascript:void(0)")
                        img(src="../img/lawyer-2.jpg")
                     p.name   мария Иванова
                     p.experience   Стаж работы с 2011 года
                     ul
                        li Специализация: консультация по всем правовым вопросам
                        li Составление документов различного правового характера и любой сложности (заявления , жалобы, договора и т.д.)
                     p.phone  Телефон: +7 (4752) 12-34-56
                  .col-md-3.col-sm-6.js-lawyew_item.item
                     a(href="javascript:void(0)")
                        img(src="../img/lawyer-3.jpg")
                     p.name   мария Иванова
                     p.experience   Стаж работы с 2011 года
                     ul
                        li Специализация: консультация по всем правовым вопросам
                        li Составление документов различного правового характера и любой сложности (заявления , жалобы, договора и т.д.)
                        li Представление интересов по гражданским делам
                        li Представление интересов по арбитражным делам
                     p.phone  Телефон: +7 (4752) 12-34-56
                  .col-md-3.col-sm-6.js-lawyew_item.item
                     a(href="javascript:void(0)")
                        img(src="../img/lawyer-4.jpg")
                     p.name   мария Иванова
                     p.experience   Стаж работы с 2011 года
                     ul
                        li Специализация: консультация по всем правовым вопросам
                        li Составление документов различного правового характера и любой сложности (заявления , жалобы, договора и т.д.)
                        li Представление интересов по гражданским делам
                        li Представление интересов по арбитражным делам
                     p.phone  Телефон: +7 (4752) 12-34-56