include diplom-slider

mixin single-lawyer()
   .single-lawyer
      .container
         .row
            .col-md-12
               h1 Маша Иванова
         .single-lawyer__content
            .row
               .col-md-3.lawyer-img
                  img(src="../img/lawyer-1.jpg")
               .col-md-9
                  p.name   Мария Иванова
                  p.rank Председатель Тамбовской областной коллегии адвокатов "Линия защиты". Стаж - более 20 лет.
                     |  Специализация: по всем уголовным делам.
                  p.phone  +7 (4752) 12-34-56
            .row
               .col-md-12
                  .specialization
                     p  Адвокат руководствуется при исполнении поручения Конституцией РФ, правами, предусмотренными Уголовно-процессуальным кодексом РФ и Федеральным законом № 63-ФЗ от 31 мая 2002 года «Об адвокатской деятельности и адвокатуре в Российской Федерации», а также вправе оказывать иную юридическую помощь, не запрещенную федеральным законодательством.
            .row
               .col-md-12
                  .specialization-list
                     p.title-block  Специализация
                     ul
                        li Pащита на всех стадиях уголовного производства интересов клиента;
                        li Анализ имеющихся материалов дела и выработка позиции защиты;
                        li Очные   или   телефонные   консультации   по   вопросам   уголовного   и  уголовно-процессуального законодательства;
                        li Cбор доказательств, направленных на опровержение предъявленного обвинения;
                        li Участие в следственных действиях в течение всего периода предварительного расследования;
                        li Обжалование    незаконных    действий    органов обвинения,    подготовка    и   заявление ходатайств, в случае их необходимости и усмотрению

            +diplom-slider()