mixin utp(position)
   - if(position == 'top')
      .utp
         .container
            .row
               .col-md-12
                  .utp__bottom
                     +svg('venzel')
               .col-md-4
                  .utp__item
                     +svg('reliability')
                     p.title  Надёжность
                     p.subtitle  Наша компания успешно работает 7 лет на рынке Тамбова и области
               .col-md-4
                  .utp__item
                     +svg('confidence')
                     p.title  Доверие
                     p.subtitle  Наша компания успешно работает 7 лет на рынке Тамбова и области
               .col-md-4
                  .utp__item
                     +svg('proff')
                     p.title  Профессионализм
                     p.subtitle  Наша компания успешно работает 7 лет на рынке Тамбова и области
   - else
      .utp
         .container
            .row
               .col-md-4
                  .utp__item
                     +svg('reliability')
                     p.title  Надёжность
                     p.subtitle  Наша компания успешно работает 7 лет на рынке Тамбова и области
               .col-md-4
                  .utp__item
                     +svg('confidence')
                     p.title  Доверие
                     p.subtitle  Наша компания успешно работает 7 лет на рынке Тамбова и области
               .col-md-4
                  .utp__item
                     +svg('proff')
                     p.title  Профессионализм
                     p.subtitle  Наша компания успешно работает 7 лет на рынке Тамбова и области
               .col-md-12
                  .utp__bottom
                     +svg('venzel')

